################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CameraOoT
/CameraOoT/x64/Debug
/x64/Debug
/packages
/CameraOoT/x64/Release
/x64/Release
